<div class="container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>RPA Core</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>

      <div style="text-align: right; flex: 1 1 auto">
        <button *ngIf="isLogged"
                mat-button>
          <mat-icon>account_circle</mat-icon>
          <span>{{username}}</span>
        </button>
        <button *ngIf="!isLogged"
                mat-button
                (click)="toggleRegister = !toggleRegister">
          <span>{{toggleRegister ? 'Login' : 'Register'}}</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="isLogged"
                  mat-menu-item
          (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="isLogged">
    RPACore Dashboard
  </div>

  <div *ngIf="!isLogged">
    <app-login *ngIf="!toggleRegister"
               (loginComplete)="onLoginComplete($event)">
    </app-login>

    <app-register *ngIf="toggleRegister"
                  (registerComplete)="onRegisterComplete()">
    </app-register>
  </div>
</div>

